body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background: black;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 22px;
}

#products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    padding: 15px;
}

.product {
    background: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.product img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 8px;
}

.product h3 {
    margin: 10px 0 5px;
    font-size: 16px;
}

.product p {
    color: #444;
    margin: 5px 0;
}

button {
    background: black;
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 7px;
    width: 100%;
    margin-top: 8px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}